body{
    background-color: orange;
}

.ho{
    font-size: xx-small;
}

.div{
    text-align: center;
    border: solid 10px black;
}

h1{
    color: black;
}

footer{
    text-align: center;
    border:solid 6px black;
}